RewriteEngine On
RewriteRule ^articles/?$ /#articles [R=301,L]
RewriteRule ^website/?$ /#website [R=301,L]

AddDefaultCharset UTF-8
ErrorDocument 404 /404.html
Redirect 301 /articles/telegram.html https://kolodych.com/articles/first-telegram-bot.html
Redirect 301 /bots/ https://kolodych.com/#bots