body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #0073e6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.project-description {
    color: #555;
}

#meme-container {
    text-align: center;
    margin-top: 20px;
}

#meme-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#movie-image {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
    margin: 0 auto;
}